/* src/styles/layout.css */

/* --- Layout Público (Home, Login) --- */
.public-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-surface); /* Fondo blanco limpio */
}
.public-content {
  flex-grow: 1;
}

/* --- Layout Privado (Sidebar + Contenido) --- */
.app-layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.main-content {
  flex-grow: 1;
  background-color: var(--color-background);
  overflow-y: auto;
  height: 100vh;
  padding: 2.5rem;
}